/* main section */
.mainSection{
    padding: 30px 0px 60px 0px;
    background-color: #EEF3FA;
}

.blocksMain{
    display: flex;
    gap: 5rem;
    width: 100%;
}

.contentBlockMain{
    width: 50%; 
    display: flex;
    align-items: center;
}

.contentDataMain{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contentDataMain>p {
    line-height: 140%;
    font-size: 18px;
}

.imageBlockMain {
    width: 50%; 
    height: auto; 
   
}
  
.imageBlockMain > img {
  width: 100%; 
  height: 100%; 
  object-fit: contain; 
  object-position: center; 
}


/* boost seciton */
.boostSection {
    padding: 60px 0px;
}

.boostBlocks {
    display: flex;
    width: 100%;
    gap: 5rem;
}

.boostImgBlock {
    width: 50%;
}

.boostImgBlock > img {
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.boostContentBlock {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.boostContentPointers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.boostContentPointers > div {
    display: flex;
    gap: .5rem;
}

.boostContentPointers > div > img {
    width: 22px;
}


/* service section */
.serviceSection {
    padding: 60px 0 20px 0;
    background-color: #eef3fa;
}

.serviceSection h2 {
    text-align: center;
    margin-bottom: 30px;
}

.serviceCardsBlock{
    display: flex;
    flex-wrap: wrap;
}


/* testimonaial section */
.testimonialSection{
    padding: 60px 0px 80px 0;
}

.testimonialSection h2 {
    text-align: center;
    margin-bottom: 30px;
}

.slick-dots {
    bottom: -40px !important;
}

.slick-slider {
    display: flex !important;
    align-items: center;
}

.slick-slide > div {
    margin: 0 10px;
}

.slick-dots li button:before {
    color: #a2a2a2 !important;
    font-size: 10px !important; 
}

